<div class="Content  Content--sized  Customizer">
    <h2>Customize your selected vendors</h2>
    <ul class="List  List--cleaned  List--spaced">
        {{#each category in categories}}
            <li>
                <h4 class="Customizer-title">{{category.name}}</h4>
                <ul class="List  List--inlined  List--spaced">
                    {{#each vendor in category.vendors}}
                        <li>
                            {{#link-to "profile" class="Customizer-link"}}
                                <div {{bind-attr class=":Customizer-linkBox  vendor.isSelected:is-selected"}}>
                                    <div class="Customizer-avatar">
                                        <img {{bind-attr src=vendor.profile_pic}} alt="Logo">
                                    </div>
                                    <br>
                                    {{vendor.name}}
                                    {{#if vendor.isSelected}}
                                        <br>
                                        <span class="Text  Text--dimmed">(selected)</span>
                                    {{/if}}
                                </div>
                            {{/link-to}}
                        </li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>
</div>
